local colors = require("colors")
local icons = require("icons")
local settings = require("settings")

-- Padding item required because of bracket
sbar.add("item", { width = {{ .sketchybar.defaults.group_paddings }} })

local apple = sbar.add("item", {
	icon = {
		font = { size = {{ .sketchybar.widgets.apple.icon_size }} },
		string = icons.apple,
		padding_right = {{ .sketchybar.widgets.apple.padding_right }},
		padding_left = {{ .sketchybar.widgets.apple.padding_left }},
	},
	label = { drawing = false },
	background = {
		color = colors.with_alpha(colors.bg2, {{ .sketchybar.appearance.background_alpha }}),
		border_width = {{ .sketchybar.appearance.border_width }},
		blur_radius = {{ .sketchybar.appearance.blur_radius }},
		corner_radius = {{ .sketchybar.appearance.corner_radius }},
	},
	padding_left = 1,
	padding_right = 1,
	click_script = "$CONFIG_DIR/helpers/menus/bin/menus -s 0",
})

-- Double border for apple using a single item bracket
sbar.add("bracket", { apple.name }, {
	background = {
		color = colors.transparent,
		height = {{ .sketchybar.widgets.apple.bracket_height }},
		blur_radius = {{ .sketchybar.appearance.blur_radius }},
	},
})

-- Padding item required because of bracket
sbar.add("item", { width = 7 })
