local settings = require("settings")
local colors = require("colors")

-- Padding item required because of bracket
sbar.add("item", { position = "right", width = {{ .sketchybar.defaults.group_paddings }} })

local cal = sbar.add("item", {
	icon = {
		color = colors.white,
		padding_left = {{ .sketchybar.widgets.calendar.date_padding_left }},
		padding_right = {{ .sketchybar.widgets.calendar.date_padding_right }},
		font = {
			style = settings.font.style_map["Black"],
			size = {{ .sketchybar.widgets.calendar.date_font_size }},
		},
	},
	label = {
		color = colors.white,
		padding_left = {{ .sketchybar.widgets.calendar.time_padding_left }},
		padding_right = {{ .sketchybar.widgets.calendar.time_padding_right }},
		width = {{ .sketchybar.widgets.calendar.label_width }},
		align = "right",
		font = { family = settings.font.numbers },
	},
	position = "right",
	update_freq = {{ .sketchybar.widgets.calendar.update_freq }},
	padding_left = 1,
	padding_right = 1,
	background = {
		color = colors.with_alpha(colors.bg2, {{ .sketchybar.appearance.background_alpha }}),
		border_width = {{ .sketchybar.appearance.border_width }},
		blur_radius = {{ .sketchybar.appearance.blur_radius }},
		corner_radius = {{ .sketchybar.appearance.corner_radius }},
	},
	click_script = "open -a 'Calendar'",
})

-- Double border for calendar using a single item bracket
sbar.add("bracket", { cal.name }, {
	background = {
		color = colors.transparent,
		blur_radius = {{ .sketchybar.appearance.blur_radius }},
	},
})

-- Padding item required because of bracket
sbar.add("item", { position = "right", width = {{ .sketchybar.defaults.group_paddings }} })

cal:subscribe({ "forced", "routine", "system_woke" }, function(env)
	cal:set({ icon = os.date("%a. %d %b."), label = os.date("%H:%M") })
end)
