{{ if not (and (hasKey .chezmoi "interactive") (eq .chezmoi.interactive true)) }}

{{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT false) }}

##
## BATTLE STADIUM
##
["source/battle-stadium"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/battle-stadium.git"

{{ end }}

{{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT true) }}

##
## FRONTEND REPOSITORIES
##
{{ $frontend_repos := list
  "civis-bootstrap"
  "civis-js-client"
  "civis-material-theme"
  "civis-react-components"
  "popsicle"
}}
{{ range $frontend_repos }}
["source/{{ . }}"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/{{ $.git.config.work_org }}/{{ . }}.git"
{{ end }} # END RANGE


##
## BACKEND PLATFORM REPOSITORIES
##
{{ $backend_repos := list
  "console"
  "civis-ai-bedrock-wrapper"
  "civis-dbt"
  "civis-vscode"
  "civis-dbt-docker"
  "civis-kubectl-configs"
  "civis-pulumi"
  "iam-role-injector"
  "jdbctool"
  "local-k8s-setup"
  "notebooks-arproxy"
  "datascience-python"
  "platform-gds-connector"
  "civis-python"
  "ruby_audit"
  "replicator"
  "sniffer"
  "sailplan"
}}
{{ range $backend_repos }}
["source/{{ . }}"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/{{ $.git.config.work_org }}/{{ . }}.git"
{{ end }} # END RANGE

##
## SERVICES REPOSITORIES
##
{{ $services_repos := list
  "audience-creator"
  "civis-flask-service"
  "civis-jupyter-python3"
  "civis-jupyter-notebook"
  "civis-services-flask"
  "civis-services-streamlit"
  "docker-scratch"
  "toborochi"
}}
{{ range $services_repos }}
["source/{{ . }}"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/{{ $.git.config.work_org }}/{{ . }}.git"
{{ end }} # END RANGE

{{ end }}

{{ end }}

