{{- $opencode := .opencode -}}
{
  "$schema": "https://opencode.ai/config.json",
  "model": "{{ $opencode.model }}",
  "small_model": "{{ $opencode.small_model }}",
  "autoupdate": {{ $opencode.autoupdate }},
  "share": "{{ $opencode.share }}",
  "theme": "{{ $opencode.theme }}",
  
  "instructions": [
{{- range $i, $instruction := $opencode.instructions }}
{{- if $i }},{{ end }}
    "{{ $instruction }}"
{{- end }}
  ],

  "keybinds": {
{{- template "utilities/json-object.tmpl" $opencode.keybinds }}
  },

  "provider": {
{{- template "opencode/provider-section.tmpl" (dict "provider" $opencode.provider) }}
  },

  "mcp": {
{{- template "opencode/mcp-section.tmpl" $opencode.mcp }}
  }
}
