#!/bin/bash
{{- $services := (include ".chezmoidata/services.yaml" | fromYaml) }}

options=(
	style={{ $services.app_configs.jankyborders.style }}
	width={{ $services.app_configs.jankyborders.width }}
{{- if $services.app_configs.jankyborders.hidpi }}
	hidpi=on
{{- else }}
	hidpi=off
{{- end }}
	active_color={{ $services.app_configs.jankyborders.active_color }}
	inactive_color={{ $services.app_configs.jankyborders.inactive_color }}
{{- if $services.app_configs.jankyborders.ax_focus }}
	ax_focus=on
{{- else }}
	ax_focus=off
{{- end }}
{{- if $services.app_configs.jankyborders.blur_radius }}
	blur_radius={{ $services.app_configs.jankyborders.blur_radius }}
{{- end }}
)

borders "${options[@]}"
