{{ if not (and (hasKey .chezmoi "interactive") (eq .chezmoi.interactive true)) }}

{{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT false) }}

##
## BATTLE STADIUM
##
["source/battle-stadium"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/battle-stadium.git"

{{ end }}

{{ end }}
