{{- define "tool_entry" -}}
{{- $key := .name }}
{{- if hasKey . "mise_name" }}{{ $key = .mise_name }}{{ end }}
{{- if hasKey . "version" }}
{{ $key | quote }} = {{ .version | quote }}
{{- else }}
{{ $key | quote }} = "latest"
{{- end }}
{{- end -}}