#!{{ output "which" "nu" | trim }}

# Cache paths
let tmux_path = "{{ output "which" "tmux" | trim }}"
let nu_path = "{{ output "which" "nu" | trim }}"

source ~/.config/nushell/env.nu

if ($env | get --optional TMUX | is-empty ) {
  exec $tmux_path new-session -A -s "ghostty"
} else {
  # Already in tmux, just start nu
  exec $nu_path
}
