return {
  {
    "LazyVim/LazyVim",
    lazy = false,
    opts = {
{{ if eq .THEME_MODE "light" -}}
      colorscheme = "{{ .THEME_LIGHT }}",
{{ else -}}
      colorscheme = "{{ .THEME_DARK }}",
{{ end -}}
    },
  },
}
