shell /bin/zsh
shell-integration enabled
font_size {{ .ui.font_size }}

background_opacity {{ .ui.opacity }}
background_blur {{ .ui.blur }}
dynamic_background_opacity yes

window_padding_width 10

include themes/catppuccin/themes/{{ .CATPPUCCIN_FLAVOR }}.conf
