shell /bin/zsh
shell-integration enabled
font_size {{ .ui.font_size }}

background_opacity {{ .ui.opacity }}
background_blur {{ .ui.blur }}
dynamic_background_opacity yes
macos_option_as_alt left
window_padding_width 10

include themes/catppuccin/themes/{{ .CATPPUCCIN_FLAVOR }}.conf

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes
hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes

hide_cursor_when_typing yes
hide_cursor_when_typing yes

hide_cursor_when_typing yes
hide_cursor_when_typing yes

