local settings = require("settings")
local colors = require("colors")

-- Equivalent to the --default domain
sbar.default({
	updates = "when_shown",
	icon = {
		font = {
			family = settings.font.text,
			style = settings.font.style_map["Bold"],
			size = 20.0,
		},
		color = colors.white,
		padding_left = settings.paddings,
		padding_right = settings.paddings,
		background = { image = { corner_radius = 10 } },
	},
	label = {
		font = {
			family = settings.font.text,
			style = settings.font.style_map["Semibold"],
			size = 18.0,
		},
		color = colors.white,
		padding_left = settings.paddings,
		padding_right = settings.paddings,
	},
	background = {
		height = {{ .sketchybar.defaults.background_height }},
		corner_radius = {{ .sketchybar.appearance.corner_radius }},
		border_width = {{ .sketchybar.appearance.border_width }},
		color = colors.with_alpha(colors.bg2, {{ .sketchybar.appearance.background_alpha }}),
		blur_radius = {{ .sketchybar.appearance.blur_radius }},
		image = {
			corner_radius = {{ .sketchybar.appearance.corner_radius }},
			border_width = {{ .sketchybar.appearance.border_width }},
		},
	},
	popup = {
		background = {
			border_width = {{ .sketchybar.appearance.border_width }},
			corner_radius = {{ .sketchybar.appearance.corner_radius }},
			color = colors.with_alpha(colors.popup.bg, {{ .sketchybar.appearance.background_alpha }}),
			blur_radius = {{ .sketchybar.appearance.blur_radius }},
			shadow = { drawing = true },
		},
	},
	padding_left = 5,
	padding_right = 5,
	scroll_texts = true,
})
