return {
	paddings = {{ .sketchybar.defaults.padding }},
	group_paddings = {{ .sketchybar.defaults.group_paddings }},

	icons = "sf-symbols", -- alternatively available: NerdFont

	-- This is a font configuration for SF Pro and SF Mono (installed manually)
	font = require("helpers.default_font"),

	-- Font sizes from configuration
	icon_font_size = {{ .sketchybar.defaults.icon_font_size }},
	label_font_size = {{ .sketchybar.defaults.label_font_size }},

	-- Alternatively, this is a font config for JetBrainsMono Nerd Font
	-- font = {
	--   text = "JetBrainsMono Nerd Font", -- Used for text
	--   numbers = "JetBrainsMono Nerd Font", -- Used for numbers
	--   style_map = {
	--     ["Regular"] = "Regular",
	--     ["Semibold"] = "Medium",
	--     ["Bold"] = "SemiBold",
	--     ["Heavy"] = "Bold",
	--     ["Black"] = "ExtraBold",
	--   },
	-- },
}
