{{ if and (hasKey .chezmoi "interactive") (eq .chezmoi.interactive true) }}

{{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT true) }}
##
## CORE WORK REPOSITORIES
##
{{ $core_work_repos := 
"civis-bootstrap"
"civis-js-client"
"civis-kubectl-configs"
"civis-material-theme"
"civis-react-components"
"console"
"jdbctool"
"notebooks-arproxy"
"popsicle"
"ruby_audit"
"sniffer"
}}

{{ range $core_work_repos }}
["{{ . }}"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/{{ $.git.config.work_org }}/{{ . }}.git"
{{ end }}

{{ end }}

{{ end }}