#!/bin/sh

# taps.yaml-hash: {{ include ".chezmoidata/homebrew/taps.yaml" | sha256sum }}

{{ template "homebrew-helpers.sh" . }}

check_brew "taps"

# Build taps content
TAPS=""

{{ range .taps -}}
TAPS="${TAPS}tap \"{{ . }}\"
"
{{ end }}

install_packages "taps" "$TAPS"