[include]
  path = ./.catppuccin/catppuccin.gitconfig

[user]
    name = {{ .git.config.name }}
    email = {{ .git.config.email }}
{{- if and (eq .chezmoi.os "darwin") (eq .PERSONAL_ENVIRONMENT true) }}
    signingkey = {{ onepasswordRead "op://Tech - Dev/Github Signing Key/public key" }}

[commit]
    gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else }}

[commit]
    gpgsign = false
{{- end }}

[push]
autoSetupRemote = true

[core]
editor = nvim
pager = delta
excludesFile = ~/.config/git/.gitignore

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3
    ff = false

[pull]
    ff = true

[diff]
    colorMoved = default

[delta]
    navigation = true
    features = catppuccin-{{ .CATPPUCCIN_FLAVOR }}
    navigate = true  # use n and N to move between diff sections

