#!/bin/bash

{{- $gh_extensions := (include ".chezmoidata/github-extensions.yaml" | fromYaml) }}

# This script runs when gh extensions change and applies package installations
# run_onchange: {{ $gh_extensions | toJson | sha256sum }}

set -euo pipefail

#=============================================================================
# GH EXTENSION INSTALLATION
#=============================================================================

if command -v gh >/dev/null 2>&1; then
  gh config set git_protocol https
  echo "🔧 Installing and upgrading gh extensions..."
  {{- range $gh_extensions.github_extensions }}
  if ! gh extension list | grep -q "{{ .name }}"; then
    echo "Installing gh extension: {{ .name }}..."
    gh extension install "https://github.com/{{ .name }}"
  else
    echo "Upgrading gh extension: {{ .name }}..."
    gh extension upgrade "{{ .name }}"
  fi
  {{- end }}
  echo "✅ gh extensions installed and upgraded"
fi
