{{ if eq .THEME_MODE "system" -}}
return {
  {
    "f-person/auto-dark-mode.nvim",
    opts = {
      update_interval = 1000,
      set_dark_mode = function()
        vim.o.background = "dark"
        vim.cmd("colorscheme {{ .THEME_DARK }}")
      end,
      set_light_mode = function()
        vim.o.background = "light"
        vim.cmd("colorscheme {{ .THEME_LIGHT }}")
      end,
      fallback = "dark",
    },
  },
}
{{ else -}}
return {}
{{ end -}}