{{- define "append_packages" -}}
{{- $packages := .packages }}
{{- $items := .items }}
{{- $manager := .manager }}
{{- $mason_check := .mason_check }}
{{- range $items }}
{{- if eq .install_via $manager }}
{{- if $mason_check }}
{{- if not .mason_ensure_installed }}
{{- if and (eq $manager "go") .install_command }}
{{- $packages = append $packages .install_command }}
{{- else if eq $manager "go" }}
{{- $packages = append $packages (printf "%s@latest" .name) }}
{{- else }}
{{- $packages = append $packages .name }}
{{- end }}
{{- end }}
{{- else }}
{{- if and (eq $manager "go") .install_command }}
{{- $packages = append $packages .install_command }}
{{- else if eq $manager "go" }}
{{- $packages = append $packages (printf "%s@latest" .name) }}
{{- else }}
{{- $packages = append $packages .name }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- $packages }}
{{- end -}}