{{- /* Query template for Homebrew casks (GUI applications) */ -}}
{{- $packages := list -}}

{{- /* Parse active profiles; "default" is always active */ -}}
{{- $active_profiles := splitList "," (index . "ACTIVE_PROFILES" | default "default") -}}
{{- if not (has "default" $active_profiles) -}}
  {{- $active_profiles = append $active_profiles "default" -}}
{{- end -}}

{{- /* Collect from dev_tools */ -}}
{{- range .dev_tools -}}
  {{- if has "brew_cask" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from agents */ -}}
{{- range .agents -}}
  {{- if has "brew_cask" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from applications (shared context) */ -}}
{{- if .applications.shared -}}
  {{- range .applications.shared -}}
    {{- if has "brew_cask" .installer -}}
      {{- $profileMatch := true -}}
      {{- if hasKey . "profiles" -}}
        {{- $profileMatch = false -}}
        {{- range .profiles -}}
          {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if $profileMatch -}}
        {{- $packages = append $packages .name -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from applications (personal context) */ -}}
{{- if .applications.personal -}}
  {{- range .applications.personal -}}
    {{- if has "brew_cask" .installer -}}
      {{- $profileMatch := true -}}
      {{- if hasKey . "profiles" -}}
        {{- $profileMatch = false -}}
        {{- range .profiles -}}
          {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if $profileMatch -}}
        {{- $packages = append $packages .name -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from applications (work context) */ -}}
{{- if .applications.work -}}
  {{- range .applications.work -}}
    {{- if has "brew_cask" .installer -}}
      {{- $profileMatch := true -}}
      {{- if hasKey . "profiles" -}}
        {{- $profileMatch = false -}}
        {{- range .profiles -}}
          {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if $profileMatch -}}
        {{- $packages = append $packages .name -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Return sorted unique list */ -}}
{{- $packages | sortAlpha | uniq | join " " -}}
