{{- /* Query template for Homebrew formulae (CLI tools) */ -}}
{{- $packages := list -}}

{{- /* Parse active profiles; "default" is always active */ -}}
{{- $active_profiles := splitList "," (index . "ACTIVE_PROFILES" | default "default") -}}
{{- if not (has "default" $active_profiles) -}}
  {{- $active_profiles = append $active_profiles "default" -}}
{{- end -}}

{{- /* Collect from language servers */ -}}
{{- range .language_servers -}}
  {{- if has "brew" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from formatters */ -}}
{{- range .formatters -}}
  {{- if has "brew" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from linters */ -}}
{{- range .linters -}}
  {{- if has "brew" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from dev_tools */ -}}
{{- range .dev_tools -}}
  {{- if has "brew" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from agents */ -}}
{{- range .agents -}}
  {{- if has "brew" .installer -}}
    {{- $profileMatch := true -}}
    {{- if hasKey . "profiles" -}}
      {{- $profileMatch = false -}}
      {{- range .profiles -}}
        {{- if has . $active_profiles -}}{{- $profileMatch = true -}}{{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $profileMatch -}}
      {{- $packages = append $packages .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Return sorted unique list */ -}}
{{- $packages | sortAlpha | uniq | join " " -}}
