{{- /* Query template for Homebrew formulae (CLI tools) */ -}}
{{- $packages := list -}}

{{- /* Collect from language servers */ -}}
{{- range .language_servers -}}
  {{- if has "brew" .installer -}}
    {{- $packages = append $packages .name -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from formatters */ -}}
{{- range .formatters -}}
  {{- if has "brew" .installer -}}
    {{- $packages = append $packages .name -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from linters */ -}}
{{- range .linters -}}
  {{- if has "brew" .installer -}}
    {{- $packages = append $packages .name -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from dev_tools */ -}}
{{- range .dev_tools -}}
  {{- if has "brew" .installer -}}
    {{- $packages = append $packages .name -}}
  {{- end -}}
{{- end -}}

{{- /* Collect from agents */ -}}
{{- range .agents -}}
  {{- if has "brew" .installer -}}
    {{- $packages = append $packages .name -}}
  {{- end -}}
{{- end -}}

{{- /* Return sorted unique list */ -}}
{{- $packages | sortAlpha | uniq | join " " -}}
