{{- $global := .global -}}
{{- $providers := .data -}}
{{- $first := true -}}
{{- range $provider, $config := $providers }}
  {{- if not $first }},{{ end }}
    "{{ $provider }}": {
      "models": 
        {{- includeTemplate (printf "ai/provider-%s.json" $provider) $global }},
      "options": {
        {{- template "utilities/json-object.tmpl" $config.options }}
      }
    }
  {{- $first = false -}}
{{- end }}