{{/*
JSON Provider Map Template
Converts providers list to provider configuration map

Usage:
{{- template "utilities/json-provider-map.tmpl" (dict "providers" .providers "global" .global) }}
*/}}

{{- $providers := .providers -}}
{{- $global := .global -}}
{{- if $providers }}
  "provider": {
{{- range $i, $provider := $providers }}
{{- $trimmedProvider := $provider | trim }}
    "{{ $trimmedProvider }}": {
      "models": {{ template "utilities/_generate-provider-models.tmpl" (dict "Provider" $trimmedProvider "SourceDir" $global.chezmoi.sourceDir "Indent" 8) }},
      "options": {}
    }{{ if lt $i (sub (len $providers) 1) }},{{ end }}
{{- end }}
  }
{{- end -}}