##
## TMUX THEME: CATPPUCCIN-{{ .CATPPUCCIN_FLAVOR }}
##

## CONFIGURE CATPPUCCIN PLUGIN
set -g @catppuccin_flavor "{{ .CATPPUCCIN_FLAVOR }}"
set -g @catppuccin_status_background "none"
set -g @catppuccin_window_status_style "none"
set -g @catppuccin_menu_selected_style "fg=#{@thm_surface_0},bg=#{@thm_yellow}"

##
##  TMUX LEFT SIDE
##
set -g status-left-length 100
set -g status-left ""
set -ga status-left "#{?client_prefix,#{#[fg=#{@thm_red},bold] 👨🏽‍💻 #S},#{#[fg=#{@thm_blue}] 👨🏽‍💻 #S}} "
set -g window-status-separator "#[fg=#{@thm_blue},none] "
set -g window-status-format "#[fg=#{@thm_overlay_0}, none]#I:#W"
set -g window-status-current-format "#{?window_zoomed_flag,#{#[fg=#{@thm_flamingo},bold]=> #I:#W},#{#[fg=#{@thm_blue},bold]=> #I:#W}}"

##
## TMUX RIGHT SIDE
##
set -g status-right-length 100
set -g status-right ""

# set -ga status-right "#[fg=#{@thm_blue}]#{battery_icon} #{battery_percentage}"
# set -g status-right "#[fg=#{@thm_blue}]#{pomodoro_status}"
# set -ga status-right "#[fg=#{@thm_overlay_0}, none] │ "
# set -ga status-right "#[fg=#{@thm_overlay_0}, none] │ "

set -ga status-right "#[fg=#{@thm_blue}]%󰭦 %B %d"
set -ga status-right "#[fg=#{@thm_overlay_0}, none] │ "
set -ga status-right "#[fg=#{@thm_blue}]󰅐 %H:%M %p "

##
## TMUX-FZF-URL THEMING AND TERMINAL BROWSER INTEGRATION
##
set -g @fzf-url-open "~/.local/bin/terminal-url-handler.sh"
set -g @fzf-url-bind 'u'
set -g @fzf-url-history-limit '3000'
set -g @fzf-url-fzf-options '--tmux center,80%,60% --multi --exit-0 --no-preview --border=rounded --color=bg+:#{@thm_surface_0},bg:#{@thm_base},spinner:#{@thm_rosewater},hl:#{@thm_red},fg:#{@thm_text},header:#{@thm_teal},info:#{@thm_mauve},pointer:#{@thm_rosewater},marker:#{@thm_rosewater},fg+:#{@thm_text},prompt:#{@thm_mauve},hl+:#{@thm_red},border:#{@thm_overlay_1}'

##
## POMODORO CONFIGS
## 
#set -g @pomodoro_on "#[fg=#{@thm_blue}]⥁ "
#set -g @pomodoro_complete "#[fg=#{@thm_teal}]⥁  "
#set -g @pomodoro_pause "#[fg=#{@thm_red}]⥁  "
#set -g @pomodoro_prompt_break "#[fg=#{@thm_yellow}]break?"
#set -g @pomodoro_prompt_pomodoro "#[fg=#{@thm_red}]break?"
#source-file ~/.config/tmux/tmux.pomodoro.conf
