#!/bin/bash

# Comprehensive macOS Homebrew and Package Installation Script
# Hash files to trigger on changes:
# lsp.yaml-hash: {{ include ".chezmoidata/lsp.yaml" | sha256sum }}
# formatters.yaml-hash: {{ include ".chezmoidata/formatters.yaml" | sha256sum }}
# linters.yaml-hash: {{ include ".chezmoidata/linters.yaml" | sha256sum }}
# tools.yaml-hash: {{ include ".chezmoidata/tools.yaml" | sha256sum }}

{{ template "brew/brew-installer.sh.tmpl" . }}