##
## MISCELLANEOUS
##

# Function to show the current system information with a random image of a Pokémon
def poke_system_info [] {
  pokeget random --hide-name | fastfetch --file-raw -
}
alias y   = yazi
alias cat = bat --style=plain
alias tks = tmux kill-server


##
## DIRECTORY ALIASES
##

alias l  = ls
alias ll = ls -a
alias la = ls -la

##
##  CHEZMOI
##
alias dotfiles          = cd "{{ .chezmoi.sourceDir }}/.."
alias dotfiles-edit     = nvim "{{ .chezmoi.sourceDir }}/.."
alias chezmoi_data      = cat ~/.config/chezmoi/chezmoi.toml
alias chezmoi_data_edit = nvim ~/.config/chezmoi/chezmoi.toml
alias config            = cd ~/.config
alias config_edit       = nvim ~/.config

# Function to check if we're in interactive mode
def is_interactive [] {
  $env.CHEZMOI_INTERACTIVE == "1"
}

# Function to update the system and install packages

##
## NEOVIM
##

# Function to open a specific Obsidian vault in Neovim
def obsidian_nvim [
  vault: string = "personal"  # Default to personal vault
] {
  let base_path = "~/source/obsidian"

  # Determine which vault to use
  let vault_path = if $vault == "personal" {
    $"($base_path)/obsidian-vault"
  } else if $vault == "work" and {{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT true) }}true{{ else }}false{{ end }} {
    $"($base_path)/obsidian-vault-work"
  } else if $vault == "smart-notes" {
    $"($base_path)/smart-notes"
  } else if $vault == "bramses" {
    $"($base_path)/bramses-highly-opinionated-vault-2023"
  } else {
    $"($base_path)/($vault)"
  }

  # Open the vault in Neovim
  cd $vault_path
  nvim
}

# Function to reset Neovim configuration
def reset_nvim [] {
  rm -rf ~/.config/nvim
  rm -rf ~/.local/share/nvim
  rm -rf ~/.local/state/nvim

  chezmoi apply --exclude=scripts
}

##
## GITHUB
##
# Function to create a new GitHub repository
def gh-create-repo [
    name: string,
    --private (-p) = false,
    --description (-d): string = ""
] {
    let visibility = if $private { "private" } else { "public" }
    cd ~/source/
    gh repo create $name --$visibility --description $description
}

# Function to clone a GitHub reposi:tory
def gh-clone-repo [
    repo: string,
    --destination (-d): string = "."
] {
    cd ~/source
    gh repo clone $repo $destination
}

# Function to list repositories for the authenticated user
def gh-list-repos [
    --limit (-l): int = 30
] {
    gh repo list --limit $limit
}

# Function to delete a GitHub repository
def gh-delete-repo [
    repo: string
] {
    gh repo delete $repo --confirm
}

# Function to add a remote to an existing local repository
def gh-add-remote [
    remote_name: string,
    repo: string
] {
    gh repo view $repo --json sshUrl | get sshUrl | each { git remote add $remote_name }
}

# Function to open a GitHub repository in the browser
def gh-open-repo [
    repo: string
] {
    gh repo view $repo --web
}

