
##
## PUBLIC GITHUB REPOSITORIES
##
["source/DOOM-fire-zig"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/const-void/DOOM-fire-zig.git"

{{ if hasKey . "git.config.username" }}
##
## PRIVATE GITHUB REPOSITORIES
##
["source/dotfiles"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/{{ .git.config.username }}/dotfiles.git"

["source/github-profile"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/{{ .git.config.username }}/{{ .git.config.username }}.git"

##
##kTODO: Populate work repository entries
##

{{ end }}
