[tools]
{{- range $index, $tool := .mise.tools }}
{{- if and (index $tool "name") (index $tool "version") }}
{{ index $tool "name" }} = {{ index $tool "version" | quote }}
{{- end }}
{{- end }}



[settings]
{{ if env "CODESPACES" | not | not -}}
jobs                                = 2                     # limit parallel jobs in Codespaces
{{ else if eq .chezmoi.os "darwin" -}}
jobs                                = {{ sub (output "sysctl" "-n" "hw.ncpu" | trim | atoi) 2 }} # number of plugins or runtimes to install in parallel
{{ else -}}
jobs                                = {{ sub (output "nproc" | trim | atoi) 2 }}                # number of plugins or runtimes to install in parallel
{{ end -}}
always_keep_download                = false         # deleted after install by default
http_timeout                        = "30s"         # set the timeout for http requests as duration string, see `MISE_HTTP_TIMEOUT`

python.uv_venv_auto                 = true          #
idiomatic_version_file_enable_tools = ["ruby"]      #
trusted_config_paths                = ['~/source']  #
env_file                            = '.env'        #
experimental                        = true          # enable experimental features
verbose                             = false         # set to true to see full installation output, see `MISE_VERBOSE`
raw                                 = false         # set to true to directly pipe plugins to stdin/stdout/stderr
yes                                 = true          # set to true to automatically answer yes to all prompts

