#!/bin/bash

# This script installs cargo packages not managed by mise or Mason
# run_onchange: {{ include ".chezmoidata/lsp.yaml" | sha256sum }}
# run_onchange: {{ include ".chezmoidata/formatters.yaml" | sha256sum }}
# run_onchange: {{ include ".chezmoidata/linters.yaml" | sha256sum }}
# run_onchange: {{ include ".chezmoidata/tools.yaml" | sha256sum }}

{{ template "package-managers/cargo-install.sh.tmpl" . }}