{{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT false) }}

##
## BATTLE STADIUM 
##
[frontend]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/battle-stadium.git"

[api]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/battle-stadium-api.git"

{{ end }}
