# version: 1.0.1


add_newline = true
continuation_prompt = "[▸▹ ](dimmed white)"

# Performance: Reduce scan times to minimize prompt lag
scan_timeout = 10        # milliseconds (down from 30ms default)
command_timeout = 1000   # milliseconds for external commands

format = """\
$hostname\
$localip\
$shlvl\
$shell\
$env_var\
$jobs\
$sudo\
$username\
$directory\
$character"""

# Optimized right_format - only essential modules for performance
right_format = """
$git_branch\
$git_status\
$nodejs\
$python\
$ruby\
$rust\
$golang\
$java\
$status"""

# Disabled modules for performance - uncomment if needed
# $singularity\
# $vcsh\
# $fossil_branch\
# $git_commit\
# $git_state\
# $hg_branch\
# $pijul_channel\
# $package\
# $c\
# $cpp\
# $cmake\
# $cobol\
# $daml\
# $dart\
# $deno\
# $dotnet\
# $elixir\
# $elm\
# $erlang\
# $fennel\
# $guix_shell\
# $haskell\
# $haxe\
# $helm\
# $julia\
# $kotlin\
# $gradle\
# $lua\
# $nim\
# $ocaml\
# $opa\
# $perl\
# $php\
# $pulumi\
# $purescript\
# $raku\
# $rlang\
# $red\
# $scala\
# $solidity\
# $swift\
# $terraform\
# $vlang\
# $vagrant\
# $zig\
# $buf\
# $conda\
# $pixi\
# $meson\
# $spack\
# $memory_usage\
# $aws\
# $gcloud\
# $openstack\
# $azure\
# $crystal\
# $custom\
# $os\
# $battery

palette = "catppuccin_{{ .CATPPUCCIN_FLAVOR }}"


{{- range (glob (joinPath .chezmoi.homeDir ".config/starship/.catppuccin/themes/*.toml")) }}
{{ include . }}
{{- end }}

[fill]
symbol = ' '

[character]
format = "$symbol "
success_symbol = "[❯](bold italic blue)"
error_symbol = "[❯](italic red)"
vimcmd_symbol = "[❮](italic dimmed blue)"
# not supported in zsh
vimcmd_replace_one_symbol = "◌"
vimcmd_replace_symbol = "□"
vimcmd_visual_symbol = "▼"

[env_var.VIMSHELL]
format = "[$env_value]($style)"
style = 'green italic'

[sudo]
format = "[$symbol]($style)"
style = "bold italic bright-purple"
symbol = "⋈┈"
disabled = false

[username]
style_user = "bright-yellow bold italic"
style_root = "purple bold italic"
format = "[⭘ $user]($style) "
disabled = false
show_always = false

[cmd_duration]
format = "[◄ $duration ](italic white)"

[jobs]
format = "[$symbol$number]($style) "
style = "white"
symbol = "[▶](blue italic)"

[localip]
ssh_only = true
format = " ◯[$localipv4](bold magenta)"
disabled = false

[time]
disabled = false
format = "[ $time]($style)"
time_format = "%R"
utc_time_offset = "local"
style = "italic dimmed white"

[battery]
disabled = true
format = "[ $percentage $symbol]($style)"
full_symbol = "█"
charging_symbol = "[↑](italic bold green)"
discharging_symbol = "↓"
unknown_symbol = "░"
empty_symbol = "▃"

[[battery.display]]
threshold = 20
style = "italic bold red"

[[battery.display]]
threshold = 60
style = "italic dimmed bright-purple"

[[battery.display]]
threshold = 70
style = "italic dimmed yellow"

[directory]
home_symbol = "⌂"
truncation_length = 1
truncation_symbol = ""
read_only = " ◈"
use_os_path_sep = true
style = "bold teal"
# Show nothing when in home, directory name when in subdirs, repo root when in git
format = '[$path]($style)[$read_only]($read_only_style) '
# When in git repo, show only repo name
repo_root_style = 'bold teal'
repo_root_format = '[$repo_root]($repo_root_style)[$read_only]($read_only_style) '

[git_metrics]
format = '([▴$added]($added_style))([▿$deleted]($deleted_style))'
added_style = 'italic dimmed green'
deleted_style = 'italic dimmed red'
ignore_submodules = true
disabled = false

[git_branch]
format = "[$branch(:$remote_branch)]($style)"
symbol = "[△](bold italic bright-blue)"
style = "italic dimmed teal"
truncation_symbol = ""
truncation_length = 99
ignore_branches = ["main", "master"]
only_attached = true

[git_status]
format = ' ([\[$all_status$ahead_behind\]]($style))'
style = "italic dimmed blue"
# Performance: Skip expensive submodule checks
ignore_submodules = true
disabled = false

[deno]
format = " [deno](italic) [∫ $version](green bold)"
version_format = "${raw}"

[lua]
format = " [lua](italic) [${symbol}${version}]($style)"
version_format = "${raw}"
symbol = "⨀ "
style = "bold bright-yellow"

[nodejs]
format = "[node](italic dimmed bright-green) [⬢ ($version)](bold dimmed bright-green)"
version_format = "${raw}"
detect_files = ["package-lock.json", "yarn.lock"]
detect_folders = ["node_modules"]
detect_extensions = []

[python]
format = " [py](italic) [${symbol}${version}]($style)"
symbol = "[⌉](bold bright-blue)⌊ "
version_format = "${raw}"
style = "bold bright-yellow"
detect_extensions = []

[ruby]
format = " [${symbol}${version}]($style)"
symbol = "◆ "
version_format = "${raw}"
style = "bold red"
detect_extensions = []

[rust]
format = " [rs](italic) [$symbol$version]($style)"
symbol = "⊃ "
version_format = "${raw}"
style = "bold red"
detect_extensions = []

[package]
format = " [pkg](italic dimmed) [$symbol$version]($style)"
version_format = "${raw}"
symbol = "◨ "
style = "dimmed yellow italic bold"

[swift]
format = " [sw](italic) [${symbol}${version}]($style)"
symbol = "◁ "
style = "bold bright-red"
version_format = "${raw}"

[aws]
disabled = true
format = " [aws](italic) [$symbol $profile $region]($style)"
style = "bold blue"
symbol = "▲ "

[buf]
symbol = "■ "
format = " [buf](italic) [$symbol $version $buf_version]($style)"

[c]
symbol = "ℂ "
format = " [$symbol($version(-$name))]($style)"

[cpp]
symbol = "ℂ "
format = " [$symbol($version(-$name))]($style)"

[conda]
symbol = "◯ "
format = " conda [$symbol$environment]($style)"

[pixi]
symbol = "■ "
format = " pixi [$symbol$version ($environment )]($style)"

[dart]
symbol = "◁◅ "
format = " dart [$symbol($version )]($style)"

[kubernetes]
disabled = true

[docker_context]
disabled = true
symbol = "◧ "
format = " docker [$symbol$context]($style)"

[elixir]
symbol = "△ "
format = " exs [$symbol $version OTP $otp_version ]($style)"

[elm]
symbol = "◩ "
format = " elm [$symbol($version )]($style)"

[golang]
symbol = "∩ "
format = " go [$symbol($version )]($style)"
detect_extensions = []

[haskell]
symbol = "❯λ "
format = " hs [$symbol($version )]($style)"

[java]
symbol = "∪ "
format = " java [${symbol}(${version} )]($style)"
detect_extensions = []

[julia]
symbol = "◎ "
format = " jl [$symbol($version )]($style)"

[memory_usage]
symbol = "▪▫▪ "
format = " mem [${ram}( ${swap})]($style)"

[nim]
symbol = "▴▲▴ "
format = " nim [$symbol($version )]($style)"

[nix_shell]
style = 'bold italic dimmed blue'
symbol = '✶'
format = '[$symbol nix⎪$state⎪]($style) [$name](italic dimmed white)'
impure_msg = '[⌽](bold dimmed red)'
pure_msg = '[⌾](bold dimmed green)'
unknown_msg = '[◌](bold dimmed yellow)'

[spack]
symbol = "◇ "
format = " spack [$symbol$environment]($style)"

[shell]
disabled = false
fish_indicator = "🐟"
zsh_indicator = "⚡"
bash_indicator = "󰞷"
powershell_indicator = "󰨊"
nu_indicator = "󰟆"
unknown_indicator = "?"
format = "[$indicator]($style) "
style = "dimmed"

