[dotfiles]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/dotfiles.git"

{{ if and (hasKey . "WORK_ENVIRONMENT") (eq .WORK_ENVIRONMENT false) }}

[thatguyinabeanie]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/thatguyinabeanie.git"

[dotfiles-docs]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/dotfiles-docs.git"

[startpage]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/startpage.git"

[dotfiles-website]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/thatguyinabeanie/next-dotfiles"
# Note: The NextJS project has been moved to its own repository

{{ end }}
